# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Client.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\celso\IdeaProjects\RisiCards\Client\.idea\.idea.Client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
